@{
    ViewData["Title"] = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="signup_area section--padding2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <form action="~/Users/ChangePassword" method="post">
                    <div class="cardify signup_form">
                        <div class="login--header">
                            <h3>Đổi mật khẩu</h3>
                            <p>Vui lòng điền các trường sau bằng thông tin thích hợp để đặt lại mật khẩu tài khoản martplace của bạn.</p>
                        </div>
                        <div class="login--form">

                            <div class="form-group">
                                <label for="password">Mật khẩu</label>
                                <input id="password" type="password" class="text_field" name="Password" placeholder="****">
                            </div>

                            <div class="form-group">
                                <label for="con_pass">Xác nhận lại mật khẩu</label>
                                <input id="con_pass" type="password" class="text_field" name="ConfirmPassword" placeholder="****">
                            </div>

                            <button class="btn btn--md btn--round register_btn" type="submit">Reset Password Now</button>

                            <div class="login_assist">
                                <p>
                                    Bạn đã có tài khoản?
                                    <a href="~/Users/Login">Đăng nhập</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>