@{
    ViewData["Title"] = "Trang đăng ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="signup_area section--padding2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <form action="~/Users/Register">
                    <div class="cardify signup_form">
                        <div class="login--header">
                            <h3>Tạo Tài Khoản</h3>
                            <p>Vui lòng điền các trường sau bằng thông tin thích hợp để đăng ký tài khoản martplace mới.</p>
                        </div>
                        <div class="login--form">

                            <div class="form-group">
                                <label for="urname">Họ của bạn</label>
                                <input id="urname" type="text" class="text_field" name="FristName" placeholder="Họ của bạn">
                            </div>

                            <div class="form-group">
                                <label for="urname">Tên của bạn</label>
                                <input id="urname" type="text" class="text_field" name="LastName" placeholder="Tên của bạn">
                            </div>

                            <div class="form-group">
                                <label for="email_ad">Email</label>
                                <input id="email_ad" type="text" class="text_field" name="Email" placeholder="Địa chỉ mail">
                            </div>

                            <div class="form-group">
                                <label for="password">Mật khẩu</label>
                                <input id="password" type="text" class="text_field" name="Password" placeholder="****">
                            </div>

                            <div class="form-group">
                                <label for="con_pass">Xác nhận lại mật khẩu</label>
                                <input id="con_pass" type="text" class="text_field" name="ConfirmPassword" placeholder="****">
                            </div>

                            <div class="form-group">
                                <label for="con_pass">Số nhà, Tên đường</label>
                                <input id="con_pass" type="text" class="text_field" name="Address" placeholder="118A/4 Lý Thường Kiệt">
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="con_pass">Xã/Phường</label>
                                        <input id="con_pass" type="text" class="text_field" name="Ward" placeholder="7">
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="con_pass">Quận/Huyện</label>
                                        <input id="con_pass" type="text" class="text_field" name="District" placeholder="10">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="con_pass">Tỉnh/Thành Phố</label>
                                <input id="con_pass" type="text" class="text_field" name="City" placeholder="HCM">
                            </div>

                            <button class="btn btn--md btn--round register_btn" type="submit">Register Now</button>

                            <div class="login_assist">
                                <p>
                                    Already have an account?
                                    <a href="~/Users/Login">Login</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>