@model IEnumerable<OnlineShop.Models.Manufacturer>

@{ ViewData["Title"] = "Thêm hãng sản xuất";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="dashboard_contents">
    <div class="container">
        <form action="@Url.Action("AddManufacturer", "Manufacturers", new { area = "Admin" })" method="post">
            <div class="credit_modules">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="payment_info modules__content">
                            <div class="form-group">
                                <label for="card_number">Tên hãng</label>
                                <input name="ManufacturerName" id="card_number" type="text" class="text_field" placeholder="Vui lòng nhập tên của hãng...">
                            </div>
                            <label for="name">Các hãng đã có</label>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="select-wrap select-wrap2">
                                            <select name="" id="name">
                                                <option>Nhấp vào để xem</option>
                                                @foreach (var item in Model)
                                                {
                                                    <option>@item.ManufacturerName</option>
                                                }
                                            </select>
                                            <span class="lnr lnr-chevron-down"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">

                                    <button type="submit" class="btn btn--round btn--default">Thêm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>